<body>
<div class="container">
  <div class="field">
    <input type="text" value="0" class="inputtext" id="textbox" >
    <button class="button" id="up">+</button>
  </div>
  <button class="button resetbtn" id="reset">RESET</button>
</div>
  <%= javascript_pack_tag 'cute_counts' %>
</body>