<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Kawaii Button</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mypage">My Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mypage">Kimoi Button</a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-secondary" type="button", method: :delete, data: { confirm: 'Are you OK?' }>Logout</button>
      </form>
    </nav>
  </nav>
</header>